kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
kubeadmConfigPatches:
  - |-
    kind: ClusterConfiguration
    # configure controller-manager bind address
    controllerManager:
      extraArgs:
        bind-address: 0.0.0.0
    # configure etcd metrics listen address
    etcd:
      local:
        extraArgs:
          listen-metrics-urls: http://0.0.0.0:2381
    # configure scheduler bind address
    scheduler:
      extraArgs:
        bind-address: 0.0.0.0
  - |-
    kind: KubeProxyConfiguration
    # configure proxy metrics bind address
    metricsBindAddress: 0.0.0.0
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 31647
        hostPort: 3000
      - containerPort: 31935
        hostPort: 5000
      - containerPort: 31235
        hostPort: 9090
      - containerPort: 31562
        hostPort: 8889
  - role: control-plane
  - role: control-plane
  - role: worker
  - role: worker
  - role: worker